@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.container__form {
  display: flex;
  justify-content: space-around;
}
.modal {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 30;
  
}
.modal .close_modal {
  position: absolute;
  right: 3rem;
  top: 1rem;
  width: 2rem;
  height: 3rem;
  cursor: pointer;
  z-index: 1;
}
.modal .close_modal img {
  width: 100%;
  cursor: pointer;
}

.modal .form {
  max-width: 80rem;
  margin-top: 10px;
  width: 70%;
  border-radius: 20px;
  background-color: #ffffff;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  opacity: 0;
  font-family: "Lato", sans-serif;
}
.modal label {
  color: var(--white);
}
body .modal {
  overflow: hidden;
}

.modal .form.animation {
  position: relative;
  opacity: 1;
}

.modal .form.close {
  opacity: 0;
}

.modal label {
  text-align: left;
}

.form {
  width: 95%;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.form legend {
  font-size: 2.5rem;
  text-align: center;
  display: block;
  color: var(--white);
  margin-bottom: 1rem;
  font-weight: 700;
}
.form .field {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}

.form .field p {
  margin: 5px;
  font-weight: 700;
  font-size: 20px;
  color: #696f79;
}

.form label {
  color: var(--blue);
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="number"] {
  padding: 1rem;
  flex: 1;
  font-size: 16px;
  color: black;
  border-radius: 10px;
  border: 2px solid lightgray;
  width: 384px;
  height: 54px;
}
.form input[type="submit"] {
  background-color: #007aff;
  border: none;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 285px;
  height: 50px;
  transition: background-color 300ms ease;
  border-radius: 10px;
}

.medical__diagnostic input {
  padding: 1rem;
  flex: 1;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid lightgray;
  width: 100%;
  padding-bottom: 100px;
  margin: 0 60px;
}

.form select {
  padding: 1rem;
  flex: 1;
  font-size: 16px;
  color: black;
  border-radius: 10px;
  border: 2px solid lightgray !important;
  width: 420px !important;
  height: 54px;
  text-align: left !important;
  background-color: white !important;
}

.medical__diagnostic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 75px;
}

.medical__diagnostic__paragraph {
  margin: 5px 63px !important;
  font-weight: 700;
  font-size: 20px;
  color: #696f79;
}

.input__submit {
  display: flex;
  justify-content: center;
}

.form input[type="submit"]:hover {
  background-color: darkblue;
  cursor: pointer;
}

.form select {
  flex: 1;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
  background-color: var(--light-gray);
}

.error {
  background-color: #696f79;
  border-left: 5px solid #b91c1c;
  color: white;
  padding: 0.2rem;
  font-weight: 900;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1px;
}

@media screen and (max-width: 768px) {
  .modal {

    height: 100vh;
    overflow-y: auto !important;
  }
  .form {
    padding: 3rem 0 !important;
    width: 90% !important;
    margin: 0 auto;
  }
  .form legend {
    font-size: 1.5rem !important;
    margin-bottom: 1rem !important;
    padding-bottom: 0.5rem;
  }

  .form input[type="submit"] {
    display: block;
    padding: 1rem 5rem;
  }

  .form input[type="text"],
.form input[type="date"],
.form input[type="number"],
.form input[type="submit"],
.form select {

  border-radius: 0px;
  margin-left: 3px;
  margin-right: 3px;

}

}

@media screen and (max-width: 1220px) {
  .form input[type="text"],
  .form input[type="date"],
  .form input[type="number"] {
    width: 300px;
  }
  .form select {
    width: 340px !important;
  }
}

@media screen and (max-width: 1024px) {
  .form input[type="text"],
  .form input[type="date"],
  .form input[type="number"] {
    width: 200px;
  }
  .form select {
    width: 240px !important;
  }
}

@media screen and (max-width: 600px) {
  .container__form {
    display: flex;
    flex-direction: column;
  }
  .form input[type="text"],
  .form input[type="date"],
  .form input[type="number"]
   {
    width: 88%;
  }
  .form select {
    width: 98% !important;
  }


}
