@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* DATA TABLE STYLES */

/* FIRST ROW*/

.sc-dmqHEX {
  background-color: #f5f5f5 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 15.16px !important;
}

.sc-hIqOWS {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14.44px !important;
}
/* COMPLETE TABLE AND ROWS */
.sc-dnwKUv {
  width: 90% !important;
  margin: 0 auto;
}

.sc-csCMJt{
  justify-content: center !important;
}

.sc-hLseeU {
  justify-content: center !important;
}

.sc-eACynP {
  position: relative !important;
  left: 800px;
}

/* PAGINATION */

.sc-iKGpAt {
  justify-content: flex-start !important;
  margin-left: 70px !important;
  width: 90% !important;
}

.sc-kMrHXl {
  position: relative;
  left: 1100px;
}

@media screen and (max-width: 1290px) {
  .sc-kMrHXl {
    left: 850px;
  }
  .sc-eACynP {
    left: 570px;
  }
}

@media screen and (max-width: 1024px) {
  .sc-bZPPFW {
    left: 0px;
  }
  .sc-eACynP {
    left: 0px;
  }
}
@media screen and (max-width: 768px) {
  html {
    background-color: #ffffff;
  }

  .sc-iKGpAt {
    justify-content: center !important;
    margin-left: 0 !important;
    width: 100% !important;
  }
}

.delete__application{
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}
