@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* DATA TABLE STYLES */

/* COMPLETE TABLE AND ROWS */

.jWpMhA {
  background-color: #F5F5F5 !important;
}

.hXLGuA {
  width: 90% !important;
  margin: 0 auto;
  
}


/* PAGINATION */

.cOhUY {
  justify-content: flex-start !important;
  margin-left: 70px !important;
  width: 90% !important;
}

.ihCgAW {
  display: none !important;
}

.cBxjhB {
  position: relative;
  left: 1100px;
}

@media screen and (max-width: 600px) {
 
}
@media screen and (max-width: 768px) {
  html {
    background-color: #FFFFFF;
  }
}
@media screen and (max-width: 1290px) {
  .cBxjhB {
    left: 850px;
  }
}

@media screen and (max-width: 1024px) {
  .cBxjhB {
    left: 0px;
  }
}





